:root {
  --dark: #011953;
  --primary-color: #f1ee47;
  --success-color: #647ac0;
  --goals-color: #e49272;
  --sales-color: #26c9bb;
  --light-color: #CCD1D6;
  --website-color: #D863A1;
  --danger-color: #EB5952;
  --mobile-color: #F29E33;
  --page-bg: #00aaff;
  --white: #FFFFFF;
}