* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ededed;
}

.banner {
  background-color: aquamarine;
  height: 400px;
  text-align: center;
  padding: 20px;
}

.banner>h1 {
  /*  background-color: blueviolet; */
  line-height: 360px;
  vertical-align: middle;
}

/*
Effetto applicato all'hover su h1 direttamente
.banner>h1:hover {
  color: white;
} */

.banner:hover h1 {
  color: white;
}
