body {
  background-color: lightgray;
  margin: 0;
}

/* Header */
#site_header {
  background-color: cornflowerblue;
  background-image: url('../img/pattern.png');
  background-size: 18%;
}

.logo {
  margin: 1.5rem 0.5rem 0;
  height: 50px;
}


/* Main */


/* Footer */